

#myDiv {
    width: 400px;
    height: 400px;
}


#green {
    display: flex;
    color: white;
    background-color: green;
    border-radius: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#black {
    display: flex;
    color: white;
    background-color: black;
    border-radius: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#red {
    display: flex;
    color: white;
    background-color: red;
    border-radius: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#pink {
    display: flex;
    color: white;
    background-color: pink;
    border-radius: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#blue {
    display: flex;
    color: white;
    background-color: blue;
    border-radius: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#green:hover {
    width: 60px;
    height: 60px;
    background-color: darkgreen;
    transition: 300ms;
}

#black:hover {
    width: 60px;
    height: 60px;
    background-color: darkgray;
    transition: 300ms;
}

#red:hover {
    width: 60px;
    height: 60px;
    background-color: darkred;
    transition: 300ms;
}

#pink:hover {
    width: 60px;
    height: 60px;
    background-color: deeppink;
    transition: 300ms;
}

#blue:hover {
    width: 60px;
    height: 60px;
    background-color: navy;
    transition: 300ms;
}