h1{
    color: red;
    background-color: orange;
}

h2 {
    color: blue;
    background-color: cyan;
}

h3 {
    color: pink;
    background-color: purple;
}

h4 {
    color: yellow;
    background-color: yellowgreen;
}

h5 {
    color: blue;
    background-color: cyan;
}

h6 {
    color: blue;
    background-color: cyan;
}